*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.card-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}
.card-body .setting-part{
    width: 25%;
    border-right: 2px solid red;
    height: 100vh;
    
}